@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Merriweather:ital@0;1&display=swap');

body {
  background-color: rgb(5, 5, 5);
  background: rgb(5, 5, 5) url('./assets/valley_bg_01_small.png');
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-style: italic;
}

a {
  color: #B4B4B4;
  text-decoration: none;
}

a:hover {
  color: white;
}

.menu-page {
  text-align: center;
}

.menu-title {
  font-size: 3.2rem;
  padding: 10rem 0 1.5rem 0;
}

h4.menu-tagline {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-size: 1.1rem;
  margin: 1rem;
}

.menu-info {
  font-style: italic;
  color: #B4B4B4;
  font-size: 1.05rem;
  max-width: 300px;
  text-align: left;
  margin-bottom: 2.5rem;
}

.menu-list a {
  color: white;  
}

.menu-list a:hover {
  color: #80EEFD;  
}

.menu-list h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.footer {
  text-align: center;
  margin-top: 6rem;
  padding-bottom: 2rem;
  color: #B4B4B4;
}

.footer-logo {
  max-width: 50px;
  margin: .5rem;
}

.loading {
  text-align: center;
  margin: 12rem 0;
}

.navbar a {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.6rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #B4B4B4;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.game-nav-container {
  padding: 0;
}

.game-text-container {
  margin-top: 3rem;
  max-width: 800px;
}

.game-choices-list {
  margin-top: 2.5rem;
}

.game-choices-info {
  font-weight: 700;
}

.color-karma {
  color: #12B516;
}

.color-karma:hover {
  color: #0f8a11;
}

.color-power {
  color: #F45E14;
}

.color-power:hover {
  color: #c34608;
}

.color-intellect {
  color: #00B0FF;
}

.color-intellect:hover {
  color: #0087c5;
}

.color-love {
  color: #FC32DA;
}

.color-love:hover {
  color: #cc13ad;
}

.color-dark-tetrad {
  color: #E60B1A;
}

.color-dark-tetrad:hover {
  color: #ad0510;
}

.color-choice {
  color: #FFFFFF;
}

.color-choice:hover {
  color: #80EEFD;
}